html, body {
    background-color: rgb(149, 146, 147);
}
h1 {
    color: rgb(44, 43, 44);
}
.lists {
    border: 6px double black;
    height: 110%;
    width: auto;
    background-color: #221c1c;
    margin: 5%;
    padding: 5%;
}
#firstList {
    color: #ffffff;
}
#secondList {
    color: rgb(42, 44, 44);
}